@font-face {
    font-family: 'depixel';
    src: url('src/fonts/depixelbreit.woff2') format('woff2'),
         url('src/fonts/depixelbreit.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'depixel', sans-serif;
    user-select: none;
    transition: .2s all;
}

/* https://stackoverflow.com/a/70720104 */
.preview h1 {
  font-size: 2em;
}

.preview h2 {
  font-size: 1.5em;
}

.preview h3 {
  font-size: 1.17em;
}

.preview h4 {
  font-size: 1em;
}

.preview h5 {
  font-size: .87em;
}

.preview h6 {
  font-size: .67em;
}

.preview ul { 
   list-style-type: disc; 
   list-style-position: inside; 
}
.preview ol { 
   list-style-type: decimal; 
   list-style-position: inside; 
}
.preview ul ul, ol ul { 
   list-style-type: circle; 
   list-style-position: inside; 
   margin-left: 15px; 
}
.preview ol ol, ul ol { 
   list-style-type: lower-latin; 
   list-style-position: inside; 
   margin-left: 15px; 
}

header {
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: #2196F3;
    color: white;
    display: flex;
    align-items: center;
}

header h1 {
    font-weight: 400;
}

header span {
    flex: 1;
}

header i {
    margin: 0 10px;
}

header i:nth-child(1) {
    margin: 0 20px;
}
