* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    transition: .2s all;
}

header {
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: #2196F3;
    color: white;
    display: flex;
    align-items: center;
}

header h1 {
    font-weight: 400;
}

header span {
    flex: 1;
}

header i {
    margin: 0 10px;
}

header i:nth-child(1) {
    margin: 0 20px;
}
